.DiceRoll {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: auto;
}

.background-image {
    background: url(../media/MisterioBoard.jpeg) no-repeat center fixed;
    background-color: black;
    background-size: contain;
    width: 100%;
    height: 100vh; 
    position: relative;
}
