@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Josefin+Sans&family=Merriweather&family=Special+Elite&display=swap%27');

.Rows{
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: 1px solid #ddd;
    color: #474944;
}

.Rows:nth-child(even) {background-color: #e7e8d0;}
.Rows:nth-child(odd) {background-color: #d1ccc1;}
.Rows:hover {
    background-color: #2f464f;  
    color: #e7e8d0;
}

body{
    text-align: center;
    font-family: 'Merriweather', serif;

    background-image: url(../media/police-car.jpg);
    background-position: center;
    background-size: cover;
}

table { 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

img { border: 0; max-width: 100%; }

/** page structure **/

#keywords {
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 15px;
}

#keywords thead {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Special Elite', serif;
    background-color:#474944;
    color: #eae8e8;
}

#keywords thead tr th { 
    font-weight: bold;
    padding: 12px 30px;
    width: 250px;
}

#keywords thead tr th span { 
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#keywords tbody tr td {
    text-align: center;
    padding: 10px;
    cursor: pointer;  
}

.Wrapper{
    overflow-y:scroll;
    height:500px;
    width:700px;
    margin-left: auto;
    margin-right: auto;
}

.ListGames {
    color: #e0d3b8;
    font-size: 110%;
    font-family: 'IM Fell English SC', serif;
}