
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Josefin+Sans&family=Merriweather&family=Special+Elite&display=swap%27');

/** Page structure **/

body {
    font-family: 'Merriweather', serif;
    background-image: url(../media/crime-scene.jpg);
    background-position: fixed;
    background-size: cover;
}

.Title {
    color: #fdf8d4;
    font-size: 25px;
    font-weight: bold;
    font-family: 'IM Fell English SC', serif;
}

/** Lobby structure **/

.Rows{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #474944;
}

.Rows:nth-child(even) {background-color: #ffe8dd;}
.Rows:nth-child(odd) {background-color: #ffdbca;}


table { 
    border-collapse: collapse;
    border-spacing: 0;
    position: sticky;
}

#keywords {
    margin-top: 3%;
    margin-left: 2.5%;
    font-size: 1.2em; 
}

#keywords thead {
    font-size: 23px;
    font-weight: bold;
    width: 700px;
    font-family: 'Special Elite', serif;
    background-color:#6c232f;
    color: #eae8e8;
}

#keywords thead tr th { 
    padding-bottom: 12px;
    padding-top: 12px;
}

#keywords tr, th, td{
    width: 343px;
}

#keywords tbody tr td {
    text-align: center;
    padding: 25px;
}

.GameButton-lobby{
    padding: 15px 40px;
    margin-top: 102%;
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #fdf8d4;
    background-color: #9c2f3b;
    position: relative;
}

.GameButton-lobby:active {     
    background-color:#3b051f;
}

/** Chat structure **/

#LobbyChat{
    text-align: center;
    background-color: white;
    position: fixed;
    left: 80.5%;
    transform: translate(-50%, -100%);
    height: 75%;
    width: 33%;  
    z-index: 3000;
}

#LobbyChat text{
    color:rgb(36, 27, 28);
    position: fixed;
}