@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Josefin+Sans&family=Merriweather&family=Special+Elite&display=swap%27');

/** Page structure **/

.Background-Lobby {
    font-family: 'Merriweather', serif;
    background-image: url(../media/crime-scene.jpg);
    background-position: center;
    background-size:auto;
    width: 100%;
    height: 100%;
    position: absolute;
    
}

.Title {
    color: #fdf8d4;
    font-size: 25px;
    font-weight: bold;
    font-family: 'IM Fell English SC', serif;
    text-align: center;
}

/** Lobby structure **/

.Rows-Lobby{
    font-size: 70%;
    font-family: 'Josefin Sans', sans-serif;
    color: #474944;
}

.Rows-Lobby:nth-child(even) {background-color: #ffccb4;}
.Rows-Lobby:nth-child(odd) {background-color: #ffdbca;}

.key-lobby {
    position: absolute;
    transform: translate(5%, 9.7%);
    width: 50%;
    height: 85%;
    text-align: center;
}

.key-lobby thead {
    
    
    font-size: 100%;
    font-weight: bold;
    width: 100%;
    font-family: 'Special Elite', serif;
    background-color:#6c232f;
    color: #eae8e8;
    
}

.key-lobby thead, tbody{
    
    display: block;
}

.key-lobby tbody{
    
    height: 50%;
    width: 100%;
}

.key-lobby thead tr th { 
    
    padding-bottom: 2%;
    padding-top: 2%;
}

.key-lobby tr, th, td {
    width: 1%;
}

.key-lobby tbody tr td {
    
    padding: 3%;
}

.GameButton-lobby{

    position: absolute;
    width: 30%;
    height: 10%;
    transform: translate(200%, 830%);
}

.startgame-button, .exitgame-button{
    position: relative;
    padding: 1.17% 2.4%;
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    font-size: 70%;
    cursor: pointer;
    color: #fdf8d4;
    background-color: #9c2f3b;
    margin-top: 2.5%;
    width: 45%;
    height: 75%;

}

.startgame-button{
    margin-right: 2.5%;
}

.GameButton-lobby:active {     
    background-color:#3b051f;
}

.drop-colors{
    position:absolute;
    width: 15%;
    font-size: 70%;
    transform: translate(135%, 0%);
}

.player-color{
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}