@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Josefin+Sans&family=Merriweather&family=Special+Elite&display=swap%27');

/** Page structure **/

.Background-Lobby {
    font-family: 'Merriweather', serif;
    background-image: url(../media/crime-scene.jpg);
    background-position: center;
    background-size: auto;
    width: 100%;
    height: 100vh;
    position: absolute;
    text-align: center;
}

.Title {
    color: #fdf8d4;
    font-size: 25px;
    font-weight: bold;
    font-family: 'IM Fell English SC', serif;
    text-align: center;
}

/** Lobby structure **/

.Rows-Lobby{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: #474944;
}

.Rows-Lobby:nth-child(even) {background-color: #ffccb4;}
.Rows-Lobby:nth-child(odd) {background-color: #ffdbca;}

table { 
    border-collapse: collapse;
    border-spacing: 0;
}

#key-lobby {
    margin: 0 auto;
    margin-top: 4%;
    margin-left: 2.5%;
    font-size: 1.2em; 
}

#key-lobby thead {
    font-size: 23px;
    font-weight: bold;
    width: 650px;
    font-family: 'Special Elite', serif;
    background-color:#6c232f;
    color: #eae8e8;
}

#key-lobby thead, tbody{
    display: block;
}

#key-lobby tbody{
    height: 420px;
    width: 650px;
}

#key-lobby thead tr th { 
    padding-bottom: 12px;
    padding-top: 12px;
}

#key-lobby tr, th, td {
    width: 330px;
}

#key-lobby tbody tr td {
    padding: 12px;
}

.GameButton-lobby button{
    padding: 15px 40px;
    margin-right: 2.5%;
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #fdf8d4;
    background-color: #9c2f3b;

    transform: translate(215%, -50%);
}

.GameButton-lobby:active {     
    background-color:#3b051f;
}

.drop-colors{
    width: 15%;
    font-size: 18px;
    transform: translate(260px, -530px);
}

.player-color{
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}