.Counter {
    color: white;
}

.Counter button{
    background-color: #02c0ba;
    border: none;
    font-size: 11px;
    cursor: pointer;
    border-radius: 10px;
}

.Report {
    color: white;
    clear: both;
    width: 34%;
    margin-top: 7.5%;
    position: absolute;
}

.Report h3 {
    font-family: 'Special Elite', cursive;
    font-size: 18px;
}

.column-mis, .column-te {
    float: left;
    width: 41%;
}

.column-rio{
    float: center;
    width: 41%; 
}

.column-mis, .column-te, .column-rio {
    font-size: 14px;
    font-family: 'Merriweather', serif;
}

.solution{
    position: absolute;
    transform: translate(128%, 141%);
}

.solution-header{
    margin-bottom: 40px;
    color: white;
    font-size: 18px;
    font-family: 'Special Elite', cursive;
}

.select{
    width: 145px;
    padding: 3px;
    margin-bottom: 10px;
}