.suspicion-button{
    padding: 8px 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: inline-block;
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    background-color: #005956;
}

.suspicion-button:active {     
    background-color:#002234;
}

.card-sus{
    margin-left: 63px;
    width: 60%;
    height: 80%;
   
}

/** Pop up Form Suspicion **/

.suspicion-dropdown{
    width: 570px;
    height: 95px;
    background-color: #e7e8d0;
    font-size: 13px;
    border-radius: 25px;
    border: 2px solid #d1ccc1;
    font-family: 'Josefin Sans', sans-serif;
}

.header-sus{
    margin: 10px;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'IM Fell English SC', serif;
}

.send-sus{
    width: 30px;
    height: 30px;
    color: black;
    transform: translate(5px, 0px);
    background-color: white;
    border-radius: 24px;
    cursor: pointer;
}

.send-sus:hover{
    color: red;
    background-color: #969991;
}

/** Pop up Show Suspicion **/
.show-sus{
    width: 300px;
    height: 350px;
    background-color: #e7e8d0;
    border-radius: 25px;
    border: 2px solid #d1ccc1;
}

.close-show{
    width: 30px;
    height: 30px;
    color: black;
    background-color: white;
    border-radius: 25px;
    transform: translate(260px, 20%);
    cursor: pointer;
    position: fixed;
}

.close-show:hover{
    color: red;
    background-color: #969991;
}

/** Pop up choose card **/

.choose-card{
    width: 500px;
    height: 370px;
    background-color: #e7e8d0;
    border-radius: 25px;
    border: 2px solid #d1ccc1;
    text-align: center;
}

.card-pick{
    width: 32%;
    height: 73%;
    cursor: pointer;
}

.send-card{
    padding: 5px 12px;
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    background-color: #005956;
}

.card-pick:hover{
    border: 0.1px solid blue;
}