@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Josefin+Sans&family=Merriweather&family=Special+Elite&display=swap%27');
@import 'css/acusation.css';
@import 'css/cards.css';
@import 'css/chat.css';
@import 'css/endgame.css';
@import 'css/formcreatingame.css';
@import 'css/gameboard.css';
@import 'css/listofgames.css';
@import 'css/lobby.css';
@import 'css/mainpage.css';
@import 'css/playerongrid.css';
@import 'css/report.css';
@import 'css/rules';
@import 'css/suspicion.css';

.home-button, .return-button{
    color: white;
    font-size: 225%;
    position: absolute;
}

.home-button{
    left: 40px;
}

